* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-image: url(https://secure.img1-fg.wfcdn.com/im/15183633/compr-r85/4049/40493779/harry-potter-marauders-map-graphic-art-print.jpg);
	background-attachment: fixed;
}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 70%;
	border-radius: 15px;
}

.characterImage {
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: 30vh;
}

#cardContainer {
	display: grid;
	flex-wrap: wrap;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 1;
	margin: 2%;
	min-height: 100%;
	row-gap: 20px;
}
.nameHeading {
	padding: 5%;
}
header {
	background-image: url(https://images.ctfassets.net/usf1vwtuqyxm/3QQaEkThAnIAiXveGhJYD9/f79a571dbe9fd456d65e783040601fdc/hogwarts-castle-.jpg?fm=jpg);
	background-attachment: fixed;
}
