@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-image: url(https://secure.img1-fg.wfcdn.com/im/15183633/compr-r85/4049/40493779/harry-potter-marauders-map-graphic-art-print.jpg);
	background-attachment: fixed;
}

body {
	font-family: "Fanwood Text", serif;
}
.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 70%;
	border-radius: 15px;
	max-width: 300px;
}
.cards:hover {
	cursor: pointer;
}

.characterImage {
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: 30vh;
}

#cardContainer {
	display: grid;
	flex-wrap: wrap;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 1;
	margin: 2%;
	min-height: 100%;
	row-gap: 20px;
}
.nameHeading {
	padding: 5%;
}

.scoreboard h1 {
	color: #e6dede;
}

.scoreboard {
	background-image: url(https://codescience.com/images/uploads/blog/_blogHighlight/Lightning-ISV-Apps-Header.png);
	background-attachment: fixed;
	background-repeat: none;
	width: 100%;
	background-size: 100vw 100vh;
	display: flex;
	justify-content: space-between;
}

#memoryCardFont {
	height: 10vh;
}
#scoreContainer {
	padding: 5px 20px 5px 5px;
}

@media only screen and (min-width: 700px) {
	#cardContainer {
		grid-template-columns: 50% 50%;
		grid-template-rows: repeat(4, minmax(10%, 1fr));
	}
}

@media only screen and (min-width: 1000px) {
	#cardContainer {
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: repeat(4, minmax(10%, 1fr));
	}
}

@media only screen and (max-width: 575px) {
	.scoreboard {
		display: block;
	}
}
@media only screen and (max-width: 350px) {
	#memoryCardFont {
		width: 90%;
	}
}
